html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-customToolbarColor {
  color: white;
  background-color: #57648C;
}

.mat-customButtonColor {
  color: white;
  background-color: #57648C;
}