html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-customToolbarColor {
  color: white;
  background-color: #57648C;
}

.mat-customButtonColor {
  color: rgb(255, 255, 255) !important;
  background-color: #57648C !important;
}
.mat-customCancelButtonColor {
  color: rgb(255, 255, 255) !important;
  background-color: #934A5F !important;
}