.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 100%;
    height: 70px;
    background-color: #57648C;
    box-shadow: 0px 2px 5px rgb(59, 48, 71);
}
span {
    font-size: 12px;
    font-style: italic;
    color: rgb(233, 233, 233);
}

.auth-control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.logo_placeholder {
    display: flex;
    align-items: center;
}

.logo_placeholder img {
    margin-left: 10px;
    width: 50px;
    height: auto;
}

.centered-text {
    flex-grow: 1;
    text-align: center;
    color: rgb(233, 233, 233);
    font-size: 25px;
    font-weight: bold;
    margin-left: 90px;
}

i {
    color: rgb(83, 126, 139);
    border-radius: 50px;
    margin: 5px;
    background-color: rgb(226, 226, 226);
    padding: 1px;
    font-size: 35px;
    cursor: pointer;
}

i:hover {
    border-radius: 50px;
    margin: 5px;
    background-color: rgb(247, 247, 247);
    padding: 1px;
    font-size: 35px;
    cursor: pointer;
}

a:active {
    color: rgb(84, 85, 82);
}

button p {
    color: rgb(131, 11, 11);
}
