<footer>
  <div class="container">
    <div class="logo">
      <img src="assets/logo2.png" alt="Logo">
      <p class="footertext">Știm ce facem și o facem bine!</p>
      <p class="footertext"> Pentru răsfățul tău! </p>
    </div>
    <div class="email-form">
      <p> Pentru mai multe surprize în viață ta, lasă-ne adresa ta de e-mail.</p>
      <form>
        <input type="email" name="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
      </form>
      <p>&copy;2023 Mani-Pedi-Ani </p>
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
  </div>
</footer>