<div class="wf-section">
    <footer class="containerfooter">
      <section id="FooterSectionFlex">
        <div class="float-container">
          <div class="float-child-left">
            <div class="footermainrow">
              <div class="div-block-5">
                <a href="/home">
                  <img
                  src="assets/logo2.png"
                    alt="Stailer"
                    width="150px"
                    loading="lazy"
                  />
                </a>
                <p class="footertext">Știm ce facem și o facem bine!</p>
              </div>
              <div class="footerformblock">
                <p class="footertext" style="margin-left: 3%">Pentru răsfățul tău!</p>
              </div>
            </div>
          </div>
          <div id="informations-float-child-left" class="float-child-left">
            <div class="smblock">
              <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              />
              <p class="texFlexDreapta">Follow us</p>
              <div class="texFlexDreapta">
                <a href="#" class="fa fa-facebook"><p class="smicon"></p></a
                ><a href="#" class="fa fa-twitter"><p class="smicon"></p></a
                ><a href="#" class="fa fa-youtube"><p class="smicon"></p></a>
              </div>
            </div>
            <div class="texFlexDreapta">
              <p class="texFlexDreapta" >call us</p>
              <a href="tel:+61457550852" class="texFlexDreapta">0457 550 852</a>
            </div>
          </div>
        </div>
      </section>

      <div id="emailBarFooter">
        <div>
          <p class="footertext">
            Pentru mai multe surprize în viață ta, lasă-ne adesa ta de e-mail.
          </p>
        </div>
        <div class="form-block w-form">
          <form
            id="email-form"
            name="email-form"
            data-name="Email Form"
            method="get"
            class="form"
            aria-label="Email Form"
            data-autopilot-anywhere="0001556802155671_0b4f3c0100784d1da1b8ec60f959a3f3"
          >
            <input
            style="border-radius: 12px"
              type="text"
              class="text-field w-input"
              maxlength="256"
              name="name-2"
              data-name="Name 2"
              placeholder="Your e-mail"
              id="name-2"
              required=""
            /><input
              type="submit"
              value="subscribe"
              data-wait="Please wait..."
              class="subscribebutton w-button"
            />
          </form>

          <div
            class="w-form-fail"
            tabindex="-1"
            role="region"
            aria-label="Email Form failure"
          ></div>
        </div>
      </div>
      <div>
        <p id="lastTextFooter" class="footertext">
          © 2023 Mani Pedi Ani !
        </p>
      </div>
    </footer>
  </div>
