footer {
  background-color: rgb(82, 54, 151);
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  position: sticky;
  top: 100%;
  margin-top: 25px;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-align: center;
}

.container .trademark {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container .email-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.email-form p {
  margin-bottom: 0px;
}

.logo {
  flex-shrink: 0;
}

.social-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.social-icons a {
  margin-left: 10px;
  font-size: 30px;
  color: white;
}

.social-icons a:active {
  color: white;
}

.logo img {
  width: 50px;
  height: 50px;
}

.email-form {
  margin-top: 10px;
}