<div class="login-box">
    <div class="login-card">
    <mat-card>
      <mat-toolbar style="height:45px;" color="customToolbarColor">
        <span>Login</span>
      </mat-toolbar>
      <br>
    <form class="login_form" [formGroup]="formGroup" (ngSubmit)="login()">
        <mat-form-field class="username">
          <mat-label>Email: </mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
    <br>
        <mat-form-field class="password">
          <mat-label>Password: </mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit"><i class="material-icons">login</i></button>
      </form>
      <br>
      <a routerLink="/"><i class="material-icons">arrow_back</i></a>
      <br>
      </mat-card>
    </div>
  </div>
    
    