.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card mat-card{
    background-color: rgb(182, 207, 206);
    align-items: center;
    width: 350px;
    text-align: center;
    box-shadow: 5px 15px 15px rgb(70, 70, 70);
}

.butoane li{
    padding: 5px;
    display: inline;
}

span {
    text-align: center;
    display: inline-block;
    width: 100%;
  }

  .credentials{
    color: red;
    font-weight: bold;
    font-size: 10px;
  }