<!--Temporary buttons| the buttons will be moved in the nav header or other relevant Components
    for the moment just for dev/test purpose
-->
<p *ngIf="identityService.isLoggedIn$ | async">Logged user: {{identityService.loggedUser.sub}}</p>
<button mat-button [matMenuTriggerFor]="menu" *ngIf="identityService.isLoggedIn$ | async"><i class="material-icons">create_new_folder</i></button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openSaveReservationComponent()">Reservation</button>
  <button mat-menu-item (click)="openSaveCategoryComponent()">Category</button>
  <button mat-menu-item (click)="openSaveServiceComponent()">Service</button>
</mat-menu>
<div class="temporar" *ngIf="identityService.isLoggedIn$ | async">
<a routerLink="/categories"><i class="material-icons">category</i></a>
<a routerLink="/services"><i class="material-icons">design_services</i></a>
<a routerLink="/users"><i class="material-icons">people</i></a>
<a routerLink="/reservations"><i class="material-icons">schedule</i></a>
</div>
<!-- <app-beauty-list *ngIf="identityService.isLoggedIn$ | async"></app-beauty-list>
<app-category-list *ngIf="identityService.isLoggedIn$ | async"></app-category-list>
<app-reservation-list *ngIf="identityService.isLoggedIn$ | async"></app-reservation-list>
<app-user-list *ngIf="identityService.isLoggedIn$ | async"></app-user-list> -->
<app-login *ngIf="!(identityService.isLoggedIn$ | async) && !(router.url === '/register')"></app-login>
<router-outlet></router-outlet>
