<!--Temporary buttons| the buttons will be moved in the nav header or other relevant Components
    for the moment just for dev/test purpose
-->
<button *ngIf="identityService.isLoggedIn$ | async" mat-button color="primary" (click)="openSaveReservationComponent()">New Reservation</button>
<button *ngIf="identityService.isLoggedIn$ | async" mat-button color="primary" (click)="openSaveCategoryComponent()">New Category</button>
<button *ngIf="identityService.isLoggedIn$ | async" mat-button color="primary" (click)="openSaveServiceComponent()">New Service</button>

<app-beauty-list></app-beauty-list>
<router-outlet>
    <app-category-list></app-category-list>
    <app-reservation-list *ngIf="identityService.isLoggedIn$ | async"></app-reservation-list>
    <app-user-list *ngIf="identityService.isLoggedIn$ | async"></app-user-list>
    <app-login *ngIf="!(identityService.isLoggedIn$ | async) && !(router.url === '/register')"></app-login>
</router-outlet>