<!--Temporary button| button to be moved in Header or other Navigation Component-->
<button *ngIf="identityService.isLoggedIn$ | async" mat-button color="primary" (click)="openSaveComponent()">New Reservation</button>
<router-outlet>
    <app-reservation-list *ngIf="identityService.isLoggedIn$ | async"></app-reservation-list>
    <app-user-list *ngIf="identityService.isLoggedIn$ | async"></app-user-list>
    <app-login *ngIf="!(identityService.isLoggedIn$ | async) && !(router.url === '/register')"></app-login>
</router-outlet>