<h3>new Category</h3>
<div class="form-container">
    <form class="add_category">
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput #category>
        </mat-form-field>
        <br>
    </form>
</div>
<div class="control_container">
    <button mat-raised-button color="customButtonColor" (click)="saveCategory(category.value)"><i class="material-icons">save</i>
    </button>
    <button mat-raised-button color="customCancelButtonColor" (click)="closeModalComponent()"><i class="material-icons">cancel</i></button>
</div>