<div class="table-container">
  <div class="user-table">
    <h3>r e s e r v a t i o n s</h3>
    <div class="mat-elevation-z8">
    <table mat-table [dataSource]="reservations">
      <!-- Resrevation_customer -->
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef> Customer </th>
        <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
      </ng-container>

      <!-- Employee_email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.clientEmail}} </td>
      </ng-container>

      <!-- Employee_name service -->
      <ng-container matColumnDef="serviciu">
        <th mat-header-cell *matHeaderCellDef> Specialist</th>
        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
      </ng-container>

      <!-- Reservation_date Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Reservation_date Column -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Reservation_hour Column -->
      <ng-container matColumnDef="ora">
        <th mat-header-cell *matHeaderCellDef> Ora </th>
        <td mat-cell *matCellDef="let element"> {{element.hour}} </td>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <i class="material-icons" (click)="openUpdateComponent(element)">edit_note</i>
          <i *ngIf="hasRole.role!='CUSTOMER'" class="material-icons" (click)="openStatusComponent(element)">flag</i>
          <i class="material-icons" (click)="delete(element)">delete_outline</i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
</div>