<h3>new Service</h3>
<div class="form-container">
    <form class="add_service">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput #name>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>numOfAvailabilityBlocks</mat-label>
            <input type="number" matInput #numOfAvailabilityBlocks>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input type="number" matInput #price>
        </mat-form-field>
        <br>
        <!-- Temporary field: Here we will have a drop box select list-->
        <mat-form-field>
            <mat-label>Category</mat-label>
            <input matInput #category>
        </mat-form-field>
        <br>
    </form>
</div>
<button mat-button color="primary" (click)="saveBeautyService(name.value, numOfAvailabilityBlocks.valueAsNumber, price.valueAsNumber, category.value)"><i class="material-icons">save</i>
</button>
