<h3>new Service</h3>
<div class="form-container">
    <form class="add_service">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput #name>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Duration</mat-label>
            <mat-select #numOfAvailabilityBlocks>
                <mat-option *ngFor="let timeUnits of timeUnits" [value]="timeUnits.equivalentValue">
                    {{timeUnits.displayValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input type="number" matInput #price>
        </mat-form-field>
        <br>
        <!-- Temporary field: Here we will have a drop box select list-->

        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select #category>
                <mat-option *ngFor="let category of availableCategories" [value]="category.name">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
    </form>
</div>
<div class="control_container">
    <button mat-raised-button color="customButtonColor"
        (click)="saveBeautyService(name.value, numOfAvailabilityBlocks.value, price.valueAsNumber, category.value)"><i
            class="material-icons">save</i>
    </button><button mat-raised-button color="customCancelButtonColor" (click)="closeModalComponent()"><i class="material-icons">cancel</i></button>
</div>