:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    margin-bottom: -1.25em;
}

h3 {
    padding-top: 10px;
    font-weight: bold;
    color: #3f51b5;
}

.control_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  button {
    margin: 0 10px;
  }