<h3>update Reservation</h3>
<!--All input fields are readonly, except "Data" and "Hour": goes in line with the update doc provided via Swagger -->
<div class="form-container">
    <form class="update_reservation">
        <mat-form-field>
            <mat-label>Customer</mat-label>
            <input disabled="disabled" matInput #customer value="{{selectedReservation.clientName}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input disabled="disabled" matInput #email value="{{selectedReservation.clientEmail}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Serviciu</mat-label>
            <input disabled="disabled" matInput #employee value="{{selectedReservation.employeeName}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <input disabled="disabled" matInput #status value="{{selectedReservation.status}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput #data value="{{selectedReservation.date}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Ora</mat-label>
            <input matInput #ora value="{{selectedReservation.hour}}">
        </mat-form-field>
    </form>
</div>
<button mat-button color="primary" 
(click)="updateReservation(selectedReservation.id, customer.value, email.value,
employee.value, status.value, data.value, ora.value)"><i class="material-icons">save</i>
</button>
