<h3>update Reservation</h3>
<!--All input fields are readonly, except "Data" and "Hour": goes in line with the update doc provided via Swagger -->
<div class="form-container">
    <form class="update_reservation">
        <mat-form-field>
            <mat-label>Customer</mat-label>
            <input disabled="disabled" matInput #customer value="{{selectedReservation.clientName}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input disabled="disabled" matInput #email value="{{selectedReservation.clientEmail}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Serviciu</mat-label>
            <input disabled="disabled" matInput #employee value="{{selectedReservation.employeeName}}">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <input disabled="disabled" matInput #status value="{{selectedReservation.status}}">
        </mat-form-field>
        <br>
        <mat-form-field class="date-time-form-field">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" min="{{currentDate | date:'yyyy-MM-dd'}}" #data value="{{selectedReservation.date}}">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <!-- <mat-form-field>
            <mat-label>Ora</mat-label>
            <input matInput #ora value="{{selectedReservation.hour}}">
        </mat-form-field> -->

                <mat-form-field (mouseover)="fetchAvailableSpots(data.value)">
            <mat-label>Ora</mat-label>
            <mat-select #ora>
                <mat-option *ngFor="let spot of availableSpots" [value]="spot">
                    {{spot}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div class="control_container">
    <button mat-raised-button color="customButtonColor" (click)="updateReservation(selectedReservation.id, customer.value, email.value,
employee.value, status.value, data.value, ora.value)"><i class="material-icons">save</i>
    </button>
    <button mat-raised-button color="customCancelButtonColor" (click)="closeModalComponent()"><i class="material-icons">cancel</i></button>
</div>