<h3>add Reservation</h3>
<div class="form-container" *ngIf="hasRole.role=='ADMIN'">
    <form class="add_reservation">
        <mat-form-field>
            <mat-label>Customer</mat-label>
            <input type="number" matInput #customerId>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Serviciu</mat-label>
            <mat-select #service>
                <mat-option *ngFor="let service of beautyServiceRecived" [value]="service.id">
                    {{service.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Employee</mat-label>
            <mat-select #employee>
                <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
                    {{employee.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="date-time-form-field">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" min="{{currentDate | date:'yyyy-MM-dd'}}" #date>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field (mouseover)="fetchAvailableSpots(employee.value, date.value)">
            <mat-label>Ora</mat-label>
            <mat-select #ora>
                <mat-option *ngFor="let spot of availableSpots" [value]="spot">
                    {{spot}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <div class="control_container">
        <button mat-raised-button color="primary" (click)="saveReservationCustomerById(service.value, customerId.valueAsNumber, employee.value, 
date.value, ora.value)"><i class="material-icons">save</i></button>
        <button mat-raised-button color="warn" (click)="closeModalComponent()"><i
                class="material-icons">cancel</i></button>
    </div>
</div>
<!----------------------------------------------CUSTOMER----------------------------------------------------------->
<div class="form-container" *ngIf="hasRole.role=='CUSTOMER'">
    <form class="add_reservation">
        <mat-form-field>
            <mat-label>Serviciu</mat-label>
            <mat-select #service>
                <mat-option *ngFor="let service of beautyServiceRecived" [value]="service.id">
                    {{service.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Employee</mat-label>
            <mat-select #employee>
                <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
                    {{employee.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="date-time-form-field">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" min="{{currentDate | date:'yyyy-MM-dd'}}" #date>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field (mouseover)="fetchAvailableSpots(employee.value, date.value)">
            <mat-label>Ora</mat-label>
            <mat-select #ora>
                <mat-option *ngFor="let spot of availableSpots" [value]="spot">
                    {{spot}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
    </form>
    <div class="control_container">
        <button mat-raised-button color="primary" (click)="saveReservation(service.value, employee.value, 
date.value, ora.value)"><i class="material-icons">save</i>
        </button>
        <button mat-raised-button color="warn" (click)="closeModalComponent()"><i
                class="material-icons">cancel</i></button>
    </div>
</div>