<h3>add reservation</h3>
<div class="form-container">
    <form class="add_reservation">
        <mat-form-field>
            <mat-label>Customer</mat-label>
            <input type="number" matInput #customer>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Serviciu</mat-label>
            <input type="number" matInput #serviciu>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <input matInput #status>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Data</mat-label>
            <input matInput #data>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Ora</mat-label>
            <input matInput #ora>
        </mat-form-field>
    </form>
</div>
<button mat-button color="primary" (click)="saveReservation(customer.valueAsNumber, 
serviciu.valueAsNumber, status.value, data.value, ora.value)"><i class="material-icons">save</i>
</button>