<h3>new Password</h3>
<div class="form-container">
    <form class="change_pwd" [formGroup]="formGroup" (ngSubmit)="changePwd()">
        <mat-form-field class="pwd">
            <mat-label>New Password: </mat-label>
            <input matInput type="password" formControlName="pwd">
        </mat-form-field>
        <br>
        <mat-form-field class="pwdConfirm">
            <mat-label>Confirm Password: </mat-label>
            <input matInput type="password" formControlName="pwdConfirm">
        </mat-form-field>
        <br>
        <p
            *ngIf="formGroup.hasError('passwordMismatch') && (formGroup.controls['pwdConfirm'].dirty || formGroup.controls['pwdConfirm'].touched)">
            Passwords do not match.
        </p>
        <div class="control_container">
            <button mat-raised-button color="customButtonColor" type="submit" [disabled]="formGroup.invalid"><i
                    class="material-icons">save</i></button>
            <button mat-raised-button color="customCancelButtonColor" type="button" (click)="closeModalComponent()"><i
                    class="material-icons">cancel</i></button>
        </div>
    </form>
</div>