:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  margin-bottom: -1.25em;
}

h3 {
  padding-top: 10px;
  font-weight: bold;
  color: #3f51b5;
}

.control_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.form-container p {
  display: flex;
  justify-content: center;
  color: #770303;
  font-size: 12px;
  font-weight: bold;
}

button {
  margin: 0 10px;
}