<div id="homesection" class="hero is-primary"  *ngIf="!(identityService.isLoggedIn$ | async)">
  <div class="hero-body">
    <div class="container">
      <section id="colajHome01">
        <img class="imagePrez" src="/assets/images/masajFacialHome.jpg" />
        <h1>
          <span class="underlined underline-clip">Our </span>
          <span class="underlined underline-mask">Services</span><br />
        </h1>
      </section>
      <section id="ManichiuraSectionHome01">
        <div>
          <div class="floatContainer">
            <div class="floatChildLeft">
              <figure>
                <img class="imageSize" src="/assets/images/homeMani1.jpg" />
              </figure>
            </div>
            <div class="floatChildRight">
              <div class="itemDescSide">
                <h2 class="text">01</h2>
                <br />
                <h2 class="text">MANICHIURĂ</h2>
                <div>
                  <p class="text">
                    Folosim produse premium și tehnologii de ultimă oră pentru o
                    experiență completă.
                  </p>
                  <div>
                    <button class="favorite styled" type="button">Detalii</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="PedichiuraSectionHome02">
        <div>
          <div class="floatContainer">
            <div class="floatChildLeft">
              <div class="itemDescSide">
                <h2 class="text">02</h2>
                <br />
                <h2 class="text">PEDICHIURĂ</h2>
                <div>
                  <p class="text">
                    Utilizăm în premieră pe piața din Cluj-Napoca echipamente de
                    imprimare a imaginilor pe unghii.
                  </p>
                  <div>
                    <button class="favorite styled" type="button">Detalii</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="floatChildRight">
              <figure>
                <img class="imageSize" src="/assets/images/homePedi1.jpg" />
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section id="SpaSectionHome03">
        <div>
          <div class="floatContainer">
            <div class="floatChildLeft">
              <figure>
                <img class="imageSize" src="/assets/images/spaHome.jpg" />
              </figure>
            </div>
            <div class="floatChildRight">
              <div class="itemDescSide">
                <h2 class="text">03</h2>
                <br />
                <h2 class="text">SPA</h2>
                <div>
                  <p class="text">
                    Îngrijire și răsfăț la alt nivel. Am pregătit cele mai
                    speciale tratamente pentru tine.
                  </p>
                  <div>
                    <button class="favorite styled" type="button">Detalii</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="PetrecereTematicaSectionHome04">
        <div>
          <div class="floatContainer">
            <div class="floatChildRight">
              <div class="itemDescSide">
                <h2 class="text">04</h2>
                <br />
                <h2 class="text">PETRECERI TEMATICE</h2>
                <div>
                  <p class="text">
                    Dăruiește-i fetiței tale cea mai frumoasă aniversare! Suntem
                    primul salon din Cluj-Napoca care organizează petreceri
                    tematice de tip Nail Spa.
                  </p>
                  <div>
                    <button class="favorite styled" type="button">Detalii</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="floatChildLeft">
              <figure>
                <img class="imageSize" src="/assets/images/KidPartyHome.jpg" />
              </figure>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
