table th {
    background-color: #934A5F;
    color: #ffffff;
}

.table-container {
    display: flex;
    justify-content: center;
}

.user-table {
    width: 80%;
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

i {
    cursor: pointer;
}